<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1>Henry Tijerina III</h1>
          <p>currently &mdash; senior software engineer in the academic information systems department at <a target="_blank" href="https://www.utexas.edu">the university of texas at austin</a>.</p>
        </div>
        <div class="col-lg-4">
            <div class="list-group">
                <a href="mailto:hen@httres.com" class="list-group-item list-group-item-action">
                    <fa-icon class="mr-2" [icon]="faEnvelope"></fa-icon>hen@httres.com
                </a>
                <a target="_blank"
                href="https://www.linkedin.com/in/htijerina/" class="list-group-item list-group-item-action">
                    <fa-icon class="mr-2" [icon]="faLinkedin"></fa-icon>htijerina
                </a>
                <a target="_blank" href="https://github.com/htijerina" class="list-group-item list-group-item-action">
                  <fa-icon class="mr-2" [icon]="faGithub"></fa-icon>htijerina
                </a>
                <a target="_blank" href="https://www.instagram.com/htijerina/" class="list-group-item list-group-item-action">
                    <fa-icon class="mr-2" [icon]="faInstagram"></fa-icon>htijerina
                </a>
                <a target="_blank" href="https://twitter.com/htijerina" class="list-group-item list-group-item-action">
                        <fa-icon class="mr-2" [icon]="faTwitter"></fa-icon>@htijerina
                </a>
              </div>
        </div>
      </div>
</div>
